# Node.js dependencies
node_modules/

# Playwright generated folders
playwright-report/
test-results/

# Allure generated folders
allure-results/
allure-report/

# Karate generated folders
karate-retail/target/
karate-retail/.allure/

# OS files
.DS_Store
Thumbs.db