{
  "openapi": "3.0.0",
  "info": {
    "title": "Route E-Commerce API",
    "description": "Real public e-commerce API - https://ecommerce.routemisr.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ecommerce.routemisr.com/api/v1",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "tokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "token"
      }
    }
  },
  "paths": {
    "/auth/signup": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register a new user account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "password", "rePassword", "phone"],
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string" },
                  "password": { "type": "string" },
                  "rePassword": { "type": "string" },
                  "phone": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "User registered successfully" },
          "400": { "description": "Invalid input or missing required fields" },
          "409": { "description": "Email already exists" }
        }
      }
    },
    "/auth/signin": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login and get JWT token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login successful returns JWT token" },
          "400": { "description": "Missing email or password" },
          "401": { "description": "Incorrect email or password" }
        }
      }
    },
    "/auth/forgotPasswords": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Send password reset email",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Reset email sent successfully" },
          "400": { "description": "Missing email" },
          "404": { "description": "No user found with this email" }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "Get all products with optional filters",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } },
          { "name": "sort", "in": "query", "schema": { "type": "string" } },
          { "name": "keyword", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of products returned" },
          "400": { "description": "Invalid filter parameters" }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "tags": ["Products"],
        "summary": "Get product by MongoDB ID",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Product details returned" },
          "400": { "description": "Invalid ID format" },
          "404": { "description": "Product not found" }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": ["Categories"],
        "summary": "Get all categories",
        "responses": {
          "200": { "description": "List of categories returned" }
        }
      }
    },
    "/categories/{id}": {
      "get": {
        "tags": ["Categories"],
        "summary": "Get category by ID",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Category returned" },
          "404": { "description": "Category not found" }
        }
      }
    },
    "/brands": {
      "get": {
        "tags": ["Brands"],
        "summary": "Get all brands",
        "responses": {
          "200": { "description": "List of brands returned" }
        }
      }
    },
    "/brands/{id}": {
      "get": {
        "tags": ["Brands"],
        "summary": "Get brand by ID",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Brand returned" },
          "404": { "description": "Brand not found" }
        }
      }
    },
    "/cart": {
      "get": {
        "tags": ["Cart"],
        "summary": "Get logged in user cart",
        "security": [{ "tokenAuth": [] }],
        "responses": {
          "200": { "description": "Cart returned" },
          "401": { "description": "Unauthorized - token required" },
          "404": { "description": "No cart found for this user" }
        }
      },
      "post": {
        "tags": ["Cart"],
        "summary": "Add product to cart",
        "security": [{ "tokenAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["productId"],
                "properties": {
                  "productId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Product added to cart" },
          "400": { "description": "Invalid product ID" },
          "401": { "description": "Unauthorized - token required" }
        }
      },
      "delete": {
        "tags": ["Cart"],
        "summary": "Clear all cart items",
        "security": [{ "tokenAuth": [] }],
        "responses": {
          "204": { "description": "Cart cleared" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/cart/{itemId}": {
      "put": {
        "tags": ["Cart"],
        "summary": "Update cart item quantity",
        "security": [{ "tokenAuth": [] }],
        "parameters": [
          { "name": "itemId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["count"],
                "properties": {
                  "count": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Cart item updated" },
          "400": { "description": "Invalid count" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Item not found in cart" }
        }
      },
      "delete": {
        "tags": ["Cart"],
        "summary": "Remove specific item from cart",
        "security": [{ "tokenAuth": [] }],
        "parameters": [
          { "name": "itemId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Item removed from cart" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Item not found" }
        }
      }
    },
    "/orders/checkout-session/{cartId}": {
      "post": {
        "tags": ["Orders"],
        "summary": "Create checkout session for online payment",
        "security": [{ "tokenAuth": [] }],
        "parameters": [
          { "name": "cartId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["shippingAddress"],
                "properties": {
                  "shippingAddress": {
                    "type": "object",
                    "properties": {
                      "details": { "type": "string" },
                      "phone": { "type": "string" },
                      "city": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Checkout session created" },
          "400": { "description": "Invalid cart or shipping address" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Cart not found" }
        }
      }
    },
    "/orders/user/{userId}": {
      "get": {
        "tags": ["Orders"],
        "summary": "Get all orders for a user",
        "security": [{ "tokenAuth": [] }],
        "parameters": [
          { "name": "userId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Orders returned" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "No orders found" }
        }
      }
    },
    "/wishlist": {
      "get": {
        "tags": ["Wishlist"],
        "summary": "Get logged in user wishlist",
        "security": [{ "tokenAuth": [] }],
        "responses": {
          "200": { "description": "Wishlist returned" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["Wishlist"],
        "summary": "Add product to wishlist",
        "security": [{ "tokenAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["productId"],
                "properties": {
                  "productId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Product added to wishlist" },
          "400": { "description": "Invalid product ID" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/wishlist/{productId}": {
      "delete": {
        "tags": ["Wishlist"],
        "summary": "Remove product from wishlist",
        "security": [{ "tokenAuth": [] }],
        "parameters": [
          { "name": "productId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Product removed from wishlist" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Product not found in wishlist" }
        }
      }
    },
    "/addresses": {
      "get": {
        "tags": ["Addresses"],
        "summary": "Get logged in user addresses",
        "security": [{ "tokenAuth": [] }],
        "responses": {
          "200": { "description": "Addresses returned" },
          "401": { "description": "Unauthorized" }
        }
      },
      "post": {
        "tags": ["Addresses"],
        "summary": "Add new address",
        "security": [{ "tokenAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["details", "phone", "city"],
                "properties": {
                  "details": { "type": "string" },
                  "phone": { "type": "string" },
                  "city": { "type": "string" },
                  "postalCode": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Address added" },
          "400": { "description": "Invalid address data" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/addresses/{addressId}": {
      "delete": {
        "tags": ["Addresses"],
        "summary": "Remove address",
        "security": [{ "tokenAuth": [] }],
        "parameters": [
          { "name": "addressId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Address removed" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Address not found" }
        }
      }
    }
  }
}